@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title:</h2>
<h3>@ViewBag.Message</h3>

<p>Есть административная и пользовательская части.</p>

<table>
    <tr>
        <td>
            <h4>Функции административной части:</h4>
        </td>
        <td>
            <h4> Функции пользовательской части:</h4>
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                <li>Пользователь создаёт мероприятие произвольного типа с произвольным набором полей на определённую дату и время</li>
                <li>
                    Например:
                    <ul>
                        <li>Наименование: тестовое мероприятие 1</li>
                        <li>Тема: Спорт</li>
                        <li>Местоположение: Кальварийская 7</li>
                    </ul>
                </li>
                <li>
                    Или:
                    <ul>
                        <li>Наименование: тестовое мероприятие 2</li>
                        <li>Дресс-код: обязателен</li>
                        <li>Тема: Музыка</li>
                        <li>Подтема: Рок</li>
                        <li>Подтема: Классическая музыка</li>
                        <li>Участники: Певцы</li>
                        <li>Деревня: Иваново</li>
                    </ul>
                </li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Пользователь может зарегистрироваться на данное мероприятие</li>
            </ul>
        </td>
    </tr>
</table>