@{
    ViewBag.Title = "Контакт";
}
<h3>@ViewBag.Message</h3>

<address>
    Андрей Чаевский<br />
    Минск, ул. Белорусская, 21<br />
    andreichayeuski@gmail.com<br />
    <abbr title="Phone">P:</abbr>
    +375336345353
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:eventplanning_chayeuski@mail.ru">eventplanning_chayeuski@mail.ru</a><br />
</address>